* {
  line-height: 1.4;
}

div {
  text-align: center;
}

select {
  position: relative;
  left: 0px;
  display: none;
}


input {
  z-index:1;
  cursor: pointer;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  width: 250px;
  display: inline-block;
  border: none;
  padding: 2px 0;
  border-bottom: solid 1px #1abc9c;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -250px 0;
  background-size: 250px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
}
span:after {
  display: block;
  content: '\25BC';
  position: absolute;
  box-sizing:border-box;
  color:#000;  
  pointer-events:none
  speak:none;
  margin-left:-17px; 
	-webkit-transform:scaleY(.6) scaleX(1);
	transform:scaleY(.6) scaleX(1);
}

input:focus {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

select {
  min-width: 260px;
  height: 300px;
  overflow: scroll;
  margin-top: 3px;
  border: none;
  -webkit-box-shadow: 0px 0px 14px -3px rgba(133, 129, 133, 1);
  -moz-box-shadow: 0px 0px 14px -3px rgba(133, 129, 133, 1);
  box-shadow: 0px 0px 14px -3px rgba(133, 129, 133, 1);
  ;
}

select option {
  /*cursor:pointer;*/
  align-items: center;
  color: rgba(33, 33, 33, 0.87);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  padding-bottom: 0px 32px 32px 0px;
  position: relative;
  text-transform: capitalize;
  padding: 12px 32px 12px 32px;
  background-color: #fff;
}

select option:hover {
  background-color: rgb(238, 238, 238);
}

select option:active {
  background-color: rgb(223, 223, 223);
}

select optgroup {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  padding: 16px 16px 16px 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  color: rgba(117, 117, 117, 0.87);
  background: white;
}
